h1 {
  font-family: 'Euphoria Script', cursive;
}

p {
  font-family: 'Poiret One', cursive;
}

/*font-family: 'Euphoria Script', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Quattrocento', serif;
font-family: 'Rouge Script', cursive;*/
