/*
FONTS:
"Euphoria Script", cursive;     for headings/emphasis
"Quattrocento", serif;          for main text
*/

/*
COLOR PALETTE
--dim-gray: #666b6aff;
--artichoke: #8b8c79ff;
--sage: #b0ac88ff;
--medium-champagne: #fbeeaeff;
--macaroni-and-cheese: #f6bb8eff;
--salmon: #ef846cff;
--bittersweet-shimmer: #b95658ff;
--claret: #832844ff;
--olivine: #9fb06dff;
--dark-olive-green: #636e35ff;
*/

nav img{
	width: 150px;
}
