/*
FONTS:
"Euphoria Script", cursive;     for headings/emphasis
"Quattrocento", serif;          for main text
*/

/*
COLOR PALETTE
--dim-gray: #666b6aff;
--artichoke: #8b8c79ff;
--sage: #b0ac88ff;
--medium-champagne: #fbeeaeff;
--macaroni-and-cheese: #f6bb8eff;
--salmon: #ef846cff;
--bittersweet-shimmer: #b95658ff;
--claret: #832844ff;
--olivine: #9fb06dff;
--dark-olive-green: #636e35ff;
*/

nav img{
	width: 150px;
}

* {
	font-family: "Quattrocento", serif;
}

body {
	background-color: #FEFBEC;
	background-image: url("../images/cookingbg.jpg");
}

h1 a, h2, h3, h4 {
	font-family: "Euphoria Script", cursive;
}

a {
	color: #9FB06D;
}

a:hover {
	color: #636E35;
}

h1 a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 60px;
}

h2 {
	margin: 30px 30px 30px 0;
	font-size: 45px;
	font-family: "Quattrocento", serif;
	color: #EF846C;
	font-weight: bold;
	border-bottom: 1px solid #EF846C;
}

h3 {
	margin: 20px 20px 20px 0;
	font-size: 40px;
	color: #B95658;
}

h4 {
	margin: 30px 30px 30px 0;
	font-size: 35px;
	color: #832844;
}

.container {
	max-width: 1000px;
}

.container aside {
	margin: 200px 60px 60px 60px;
}

.container aside section {
	padding: 20px;

}

.container img {
	max-width: 450px;
	margin-right: 40px;
}

ol li {
	font-weight: bold;
}

ol li p {
	font-weight: normal;
}

.list-group-numbered {
	margin-bottom: 40px;
}

footer {
	background-color: #9FB06D;
	color: white;
	line-height: 30px;
}

.btn-primary {
	background-color: #B95658;
	color: white;
	border: #B95658;
	padding: 20px;
	margin: 20px;
	font-size: 30px;
	box-shadow: 5px 5px 11px black;
}

.btn-primary:hover {
	background-color: #EF846C;
}

.btn-secondary {
	background-color: #636E35;
	border: none;
	padding: 20px;
	margin: 20px;
	font-size: 30px;
	box-shadow: 5px 5px 11px black;
}

.btn-secondary:hover {
	background-color: #929c68;
}

#navbar{
	background-color: #EF846C!important;
	background: linear-gradient(90deg, rgba(245,84,48,1) 0%, rgba(239,132,108,1) 100%);
}

#navbar a {
	color: #FEFBEC;
}

#navbar a:hover {
	color: #813637;
}
.list-group-item {
	background-color: #FFFEFA;
}

.body-container{
	background-color: #ffdca1;
	padding: 20px;
}

aside section{
	background-color: #ffdca1;
	border-style: solid;
	border-color: #EF846C;
	border-width: 1px;
}